@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form method="post" enctype="multipart/form-data" class="p-3" asp-action="UploadFile">
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose file</label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="UploadFile">Upload</button>
    </form>
</div>
